@import url(./font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DegularRegular;
}

:root{
    --clDark: #1C1D20;
    --clLight: #F0F8FF;
}

body{
    background: var(--clLight);
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 16px 0 16px 0;
    color: var(--clDark);
    box-shadow: 0px 20px 60px rgba(138, 149, 158, 0.2);
}

.uitLogo{
    width: 100px;
    height: 89.29px;
}

nav{
    display: flex;
}

nav a{
    margin: 0 2rem;
    color: var(--clDark);
    text-decoration: none;
    font-size: 24px;
    padding: 16px 24px 24px 24px;
    position: relative;
    letter-spacing: 0.7px;
    /* border: 1px solid red; */
}

.stick{
    position:absolute;
    top:100%;
    left: 0;
    width: 0%;
    display: inline;
    height: 1px;
    z-index: 999;
    background-color: #fff;
    transition: 0.3s;
}

.stick.active{
    width: 100%;
}

.hoverActive.menu1:hover,.hoverActive.menu2:hover{
    opacity: 0.7;
}

nav a svg{
    position: relative;
    top: -2px;
    margin-left: 8px;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

.Menu{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* overflow: hidden; */
}

.item2,.item1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    gap: 64px;
    width: 300%;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(138, 149, 158, 0.2);
    border-radius: 8px;
    position: absolute;
    left: -100%;
    top: 80%;
    cursor: pointer;
    /* visibility: hidden; */
}
    
    
.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    /*   width: 103px; */
    /* height: 151px; */
}
    
.frame li{
    list-style: none;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.8px;
    opacity: 0.5;
    color: #1C1D20;
}

.frame li:hover{
    opacity: 1;
}
    
    
.title{
    opacity: 1!important;
    font-size: 21px!important;
    margin-bottom: 15px!important;
}


@media only screen and (max-width: 1024px) {
    header{
        padding: 16px 24px 16px 24px;
        display: flex;
        justify-content: space-between;
    }
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        background: var(--clDark);
        transition: 0.5s;
        overflow: scroll;
        scroll-behavior: smooth;
        z-index: 999;
        transform: translate(100vw);
    }
    header .responsive_nav{
        transform: none;
    }
    .uitLogo{
        width: 78.4px;
        height: 70px;
    }
    nav a{
        color: var(--clLight);
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8px 24px 8px 24px!important;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2.7rem;
        right: 1rem;
        height: 28px;
    }
    .Menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item1,.item2{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        gap: 24px;
        background: var(--clDark);
    }
    .title{
        color: #FFFFFF!important;
    }
    .frame li{
        color: #FFFFFF!important;
        opacity: 0.5;
    }
    .Menu:nth-child(1){
        margin-top: 50%;
    }

}

